
.post-block {
    display:flex;
    background-color: var(--post-bg-color);
    border-radius:10px;
    height: 200px;
    width: 700px;
    margin: auto;
}

.post-inner {
    height: 180px;
    width: 680px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.post-title {
    color: var(--post-title-color);
    font-size: 20px;
    font-weight: 700;
}

.post-desc {
    color: var(--post-desc-color);
    text-align: justify;
    margin: auto;
}

.post-foot {
    color: var(--post-foot-color);
}
