.dark-post-theme {
    background-color: rgb(50,50,50);
}

.light-post-theme {
    background-color: rgb(220,220,220);
}

.post-block {
    display:flex;
    border-radius:10px;
    height: 200px;
    width: 700px;
    margin: auto;
}

.post-inner {
    height: 180px;
    width: 680px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.post-title {
    font-size: 20px;
    font-weight: 700;
}

.post-desc {
    color: rgb(110,110,110);
    text-align: justify;
    margin: auto;
}

.post-foot {
    color: rgb(110,110,110);
}
