:root {
    --background-color : rgb(250 , 250 , 250 );
    --header-color     : rgb(0   , 0   , 0   );
    --text-color       : rgb(70  , 70  , 70  );
    --cite-color       : rgb(70  , 70  , 70  );
    --biblio-color     : rgb(70  , 70  , 70  );
    --post-bg-color    : rgb(200 , 200 , 200 );
    --post-desc-color  : rgb(70  , 70  , 70  );
    --post-foot-color  : rgb(110 , 110 , 110 );
    --post-title-color : rgb(0   , 0   , 0   );
    --text-font-size   : 16px;

    --code-text-color        : rgb(0   , 0   , 0   );
    --code-function-color    : rgb(220 , 70  , 100 );
    --code-number-color      : rgb(220 , 70  , 100 );
    --code-keyword-color     : rgb(0   , 120 , 170 );
    --code-operator-color    : rgb(150 , 110 , 60  );
    --code-string-color      : rgb(100 , 150 , 0   );
    --code-number-color      : rgb(150 , 0   , 80  );
    --code-comment-color     : rgb(110 , 130 , 140 );
    --code-punctuation-color : rgb(150 , 150 , 150 );
}

body.dark-mode {
    --background-color : rgb(40  , 40  , 40  );
    --header-color     : rgb(255 , 255 , 255 );
    --text-color       : rgb(190 , 190 , 190 );
    --cite-color       : rgb(190 , 190 , 190 );
    --biblio-color     : rgb(190 , 190 , 190 );
    --post-bg-color    : rgb(70  , 70  , 70  );
    --post-desc-color  : rgb(200 , 200 , 200 );
    --post-foot-color  : rgb(150 , 150 , 150 );
    --post-title-color : rgb(255 , 255 , 255 );
    --text-font-size   : 16px;

    --code-text-color        : rgb(255 , 255 , 255 );
    --code-function-color    : rgb(220 , 100 , 100 ); 
    --code-number-color      : rgb(0   , 160 , 200 );
    --code-keyword-color     : rgb(270 , 180 , 0   );
    --code-operator-color    : rgb(180 , 140 , 90  );
    --code-string-color      : rgb(160 , 210 , 50  );
    --code-number-color      : rgb(240 , 80  , 150 );
    --code-comment-color     : rgb(140 , 160 , 170 );
    --code-punctuation-color : rgb(180 , 180 , 180 );

}


html body {
    background-color: var(--background-color);
    font-family:-apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    height: 100%;
    width: 720px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 720px;
    height: 80px;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    display: inline-grid;
    font-weight: 700;
    place-items:center;
}

.footer-contacts {
    width: 720px;
    height: 80px;
    margin-top: 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    display: inline-grid;
    place-items:center;
}

.header-item {
    font-size: 20px;
}

.footer {
    width: 720px;
    height: 200px;
}

.title {
    font-size: 32px;
}

.theme-button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 32px;
}

.cite {
    color : var(--cite-color);
    display: inline-block;
}

.bibliography {
    color: var(--biblio-color);
    text-align: left;
}



h1 {
    font-size: 24px;
    color: var(--header-color);
}

h2 {
    font-size: 20px;
    color: var(--header-color);
}

h3 {
    font-size: 20px;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    text-align: justify;
    font-size: var(--text-font-size);
}

ul {
    color: var(--text-color);
    text-align: justify;
}

ol {
    color: var(--text-color);
    text-align: justify;
}

a {
    color:inherit;
}
